  {% apply spaceless %}
    <nav class="main-nav" id="main-nav" role="menu" tabindex="-1">
      <div class="container">
        <ul>
          {% for entry in siteOptions.mainNavigation.all %}
            <li>
              <a role="menuitem" href="{{ entry.url }}" class="dropdownToggle">{{ entry.title }}</a>
              {% set childPages = entry.getChildren().all %}
              {% if childPages | length %}
                <ul class="dropdownMenu hidden-xs">
                  {% for page in childPages %}
                    <li><a href="{{ page.url() }}">{{ page.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  {% endapply %}

