<footer>
  <div class="mt-8 bg-gray-300 border-t border-brand-green">
    {# <div class="xl:container">
      <div class="p-2 md:p-4">
        <p class="text-sm text-center">&copy;{{ 'now'|date('Y') }} {{ siteName }}. All Rights Reserved.</p>
      </div>
    </div> #}
  </div>
</footer>
