.numbers-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 14px;

  @media #{$small-mobile} {
    gap: 10px;
  }

  .number-wrap {
    font-size: 25px;
    padding: 5px;
    background-color: white;
    width: 35px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    flex-direction: column;

    @media #{$desktop} {
      width: 100px;
      font-size: 30px;
    }

    @media #{$tablet} {
      width: 75px;
      font-size: 30px;
    }

    @media #{$small-mobile} {
      width: 30px;
      font-size: 25px;
    }

    &.spln {
      background-color:rgba(turquoise, .3);

      &.gray {
        background-color: transparent;
      }
    }

    .date {
      font-size: 15px;
      display: block;
      color: #333;
      margin-bottom: 5px;

      @media #{$mobile} {
        font-size: 14px;
      }
    }

    &.break {
      width: 100%;
      height: 1px;
      background-color: transparent;
    }

    .number {
      border-radius: 50%;
      width:35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: -2px;

      @media #{$desktop} {
        width: 55px;
        height: 55px;
      }
  
      @media #{$tablet} {
        width: 50px;
        height: 50px;
      }

      @media #{$small-mobile} {
        width: 30px;
        height: 30px;
      }
    }

    &.active .number {
      background-color: red;
      color: white;
      font-weight: bold;
    }

    &.purple {
      color: purple;

      &.active .number {
        background-color: purple;
        color: white;
        font-weight: bold;
      }
    }

    &.green {
      color: green;

      &.active .number {
        background-color: green;
        color: white;
        font-weight: bold;
      }
    }

    &.gray {
      color: #666 !important;

      &.active .number {
        background-color: #666;
        color: white;
      }
    }
  }
}