// Search (search/index.twig) =====================================================

.search {
  margin: 0 0 25px;

  form {
    display: flex;
  }

  .search-input {
    flex-grow: 1;

    input {
      border: 1px solid #ccc;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(0, 0, 0, .2);
      padding: 7px;
      width: 100%;

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, .3);
      }

      &:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
      }
    }
  }

  button.search-btn {
    padding: 7px 12px;
    margin: 0 0 0 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    border: 0;

    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    }
  }
}



.content ul.search-results {
  list-style: none;
  margin-left: 0;
  margin-top: 30px;
  padding-left: 0;

  h3 a {
    color: #666;
    margin-bottom: 10px;
  }

  .link {
    color: #999;
    font-size: 14px;
    margin: 5px 0;
  }
}
